[Desktop Entry]
Name=MetronomeK
GenericName=The Rhythmic Perfection
GenericName[pl]=Rytmiczna doskonałość

Type=Application
Comment=Simple metronome with natural sounds
Comment[pl]=Prosty metronom z naturalnymi dźwiękami
Exec=metronomek %f
Icon=metronomek
Terminal=false
Categories=Qt;Education;Music;
